
/* GESTIONE TABELLA */
.custom-table {
  width: 100%;
  table-layout: fixed; /* REGOLA CHIAVE: forza larghezze definite */
  border-collapse: separate; /* fondamentale per arrotondare i bordi */
  border-spacing: 0; /* rimuove lo spazio tra celle */
  border: 1px solid #dee2e6;
  border-radius: 12px; 
  overflow: hidden; /* fa sì che gli angoli arrotondati si vedano */
}

.custom-table thead {
  background-color: #0d6efd;
  color: white;
}

.custom-table th,
.custom-table td {
  border-bottom: 1px solid #dee2e6; 
  padding: 12px 8px;
  text-align: center;      
  vertical-align: middle;  /* centra verticalmente */
} 

.custom-table tbody tr:last-child td {
  border-bottom: none; /* rimuove il bordo inferiore dell'ultima riga */
}

.wrapperInput {
  position: relative;
  margin-top: 5px;
}

input {
  padding: 0;
}

input::placeholder {
  color: rgb(15, 14, 14) !important;
}


.wrapperInput input:focus + label {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.wrapperInput input:focus::placeholder {
  color: transparent !important;
  transition: color 0.4s ease;
}


.wrapperInput label{
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: small;
  background-color: #ffffff;
  padding: 0 3px;
  opacity: 0;
}







